name: build

on:
  push:
    branches:
    tags:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: set up go 1.26
        uses: actions/setup-go@v6
        with:
          go-version: "1.26"
        id: go

      - name: checkout
        uses: actions/checkout@v6

      - name: build and test
        run: |
          go test -race -timeout=100s -covermode=atomic -coverprofile=$GITHUB_WORKSPACE/profile.cov_tmp ./...
          grep -v -E "_mock.go|/mocks/" $GITHUB_WORKSPACE/profile.cov_tmp > $GITHUB_WORKSPACE/profile.cov

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: latest

      - name: submit coverage
        uses: codecov/codecov-action@v5
        with:
          files: ${{ github.workspace }}/profile.cov
          token: ${{ secrets.CODECOV_TOKEN }}
